body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: #4F3378;
}

.content {
    margin: 0 auto;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    text-align: center;
}
.form-control {
    display: inline;
}

#length{
    width: 25%;
}

.logo-img{
    height: 64px;
    width: 64px;
}

h1 { 
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 32px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; } 

h3 { 
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; } 

p, input { 
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; } 

input {
    margin-left: 20px;
    }

blockquote { 
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; } 

pre { 
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#4F3378;
    color: white;
    text-align: center;
}

.copyright {
    font-size: 8px ;
}