{% extends 'base.html' %}

{% block head %}
    <title> Password Generator </title>
{% endblock %}

{% block body %}
   
    <div class="content">
        <h1 style='text-align: center' class="text-white">Password Generator </h1>
        <br>
        {% if length_password | length > 1%}
            <p style="text-align: center" class="p-3 mb-2 bg-dark text-white">{{ length_password }}</p>
        {% elif error %}
            <p class="p-3 mb-2 bg-danger text-white">{{error}}</p>
        {% endif %}       
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="length" id="length" class="form-control">
                <input type="submit" value="Generate" class="btn btn-dark" data-toggle="tooltip" data-placement="right" title="Generate password">
            </form>
        </div>
        <br>
        <br>
        <div>
            <img src="{{url_for('static', filename='images/security.svg')}}" alt="security" class='logo-img'>
        </div>
    </div>

{% endblock %}